<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mongo Scrape</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
	</head>

	<body>
		
		<div id="main">
		<Jumbotron>
  			<center><h1><b>News Scrape</b></h1></center>
  		</Jumbotron>;

		  
		</div>
		{{{ body }}}
	<script src="/public/assets/app.js"></script>

</body>
</html>